.brand-text{
    color: #24a464 !important;
    font-weight: bold;
    padding-left: 10px;
}

.brand-background{
    background-color: #24a464 !important;
    color:#fff !important;
    font-weight: bold;
}

.brand-button{
    background-color: #24a464 !important;
    color:#fff !important;
    border: 1px solid #24a464;
}

.brand-button:hover{
    background-color: #fff !important;
    color:#24a464 !important;
    border: 1px solid #24a464;
    
}
.brand-button:disabled{
    cursor:not-allowed;
}

.brand-centered{
    margin: auto;
}

.brand-active{
    border-bottom: 2px solid #24a464;
    font-weight: bold;
    /*box-shadow: rgba(47,72,88, 0.15) 1.95px 1.95px 2.6px;*/
}